.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.46);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  /* padding: 2rem 0; */
  overflow: hidden;

}
.modal-scrollable {
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 4rem 0;
}

.modal-content {
  padding: 10px 5px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.12);
  display: inline-block;
}

.modal-content::-webkit-scrollbar {
  width: 12px !important;
}

.modal-header {
  padding: 0px 0;
  text-align: right;
}