* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none !important;
}

a,
a:visited {
  text-decoration: none !important;
  color: #ffffff;
}

a:focus {
  color: #ffffff;
}

a:hover {
  text-decoration: none !important;
}

nav,
footer,
header,
aside {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(160, 160, 160, 0.3);
}

.add-btn {
  padding: 10px;
  border-radius: 0.3rem;
  cursor: pointer;
}
.save-btn:disabled {
  background-color: #b5b5b5 !important;
  pointer-events: none !important;
}

.disabled {
  pointer-events: none !important;
  color: #c2c2c2fb !important;
  background-color: #fff !important;
}

.secondary-btn {
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  display: block;
  text-align: center;
}
.secondary-btn:visited {
  color: #007bff
}

.secondary-btn:hover {
  background-color: #007bff;
  color: #fff;
}

.error-text {
  color: rgb(255, 164, 164);
}
a {
  color: black;
}