body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn {
  padding: 10px;
  border-radius: 0.3rem;
  cursor: pointer;
}
.save-btn:disabled {
  background-color: #b5b5b5 !important;
  pointer-events: none !important;
}

.disabled {
  pointer-events: none !important;
  color: #c2c2c2fb !important;
  background-color: #fff !important;
}