.sidebar {
  background-color: rgba(255, 255, 255);
  padding: 20px;
  border-right: 2px solid #ccc;
  min-width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-heading {
  margin: 1.5rem 0;
}

.board-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.board-item {
  padding-right: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 6px;
  overflow: hidden;
}

.board-item.active {
  border-color: #007bff;
  background-color: #efefef;
}
.add-button {
  margin: 1.5rem 0;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.add-button:hover {
  background-color: #0056b3;
}

.link {
  text-decoration: none;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
}

.board-item.active .link {
  background-color: #efefef;
}

.link:visited {
  color: black;
}

.project-list {
  border-bottom: 2px solid #9d9c9c;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.select-project {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 6px;
}

.add-project {
}
.users-title {
  color: black;
  text-align: left;
}
.users-list {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.list-item {
  display: flex;
  gap: 5px;
  align-items: center;
}